<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./log/main"/>
    <property name="ERROR_LOG_PATH" value="./log/error" />
    <property name="SQL_LOG_PATH" value="./log/sql" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="MainLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ErrorsLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_PATH}/error.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_LOG_PATH}/archived/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="MainLog"/>
    </root>

    <logger name="ru.belkov.SiteSearchEngine" level="error">
        <appender-ref ref="ErrorsLog"/>
    </logger>

    <logger name="ru.belkov.SiteSearchEngine" level="info">
    </logger>
</configuration>